@import "../../../../_utils/index";

.text-area {
  height: 100%;
  overflow: auto;
  padding: rem(16px);
}

.text-row {
  margin-top: 0.5rem;
  display: flex;
  color: $darkGrey;
  font-size: 1.125rem;
}

.text__text {
  display: inline-block;
  margin-left: 0.3125rem;
  font-family: sans-serif;
}
