$darkGrey400: #2c2f30;
$darkGrey300: #2c2f30;
$lightGrey: #dfe1e2;

$primary400: #557A95;
$primary300: #64869E;

$counterPrimary: #C5AFA4;
$cta: #CF4D6F;

$borderRadius: 5px;

$green: #39a379;
$pink: #ba4b71;
$purple: #805094;
$blue: #238cc3;
$seaBlue: #3897ab;
