<div class="container">
  <form class="form" #form="ngForm" (submit)="onLogin(form)">

    <div class="form__row">
      <input type="text" class="form__input--text" placeholder="Email" name="email" ngModel required>
    </div>

    <div class="form__row">
      <input type="password" class="form__input--text" placeholder="Password" name="password" ngModel required>
    </div>

    <div class="form__buttons">
      <div class="form__message">{{message$ | async}}</div>
      <button class="form__button" [disabled]="form.invalid">Login</button>
    </div>


    <footer class="form__footer">
      <p class="footer__row"> I don't have an account. <span class="form__footer-link" (click)="signUp()">Sign up</span> </p>
      <p class="footer__row"> <span class="form__footer-link" (click)="forgotPassword()">Forgot password</span> </p>
    </footer>

  </form>
</div>
