<div class="room-container">

  <div class="section section__options">
    <header class="section__header">
      <a class="section__header-link" routerLink="settings">
        <i class="fas fa-cog"></i>
        <span class="header__link-label">Settings</span>
      </a>
    </header>

    <div class="section__body">
      <app-options></app-options>
    </div>
  </div>

  <div class="section">
    <app-result class="app-result"></app-result>
  </div>

<!--  <div class="settings-container">-->
<!--    <app-settings></app-settings>-->
<!--  </div>-->

</div>
