@import "../../../_utils/index";

.room-container {
  display: flex;
  align-items: center;
  height: 100%;
}

.section {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.section__body {
  flex: 1 0 auto;
}

.section__options {
  background: #333;
}

.section__header {
  padding: rem(16px);
  display: flex;
  justify-content: flex-end;
}

.section__header-link {
  color: #efefef;
  display: flex;
}

.section__header-link i {
  transition: 0.4s;
}

.section__header-link:hover i {
  transform: rotate(60deg);
}

.header__link-label {
  margin-left: 0.3125rem;
}


.app-result {
  height: 100%;
}
