<div class="rooms" *ngIf="(user$ | async)">

  <div class="room" *ngFor="let room of (rooms$ | async)">
    <a class="room__inner" [routerLink]="room._id">
      <h3 class="room__title"> {{room.name}} </h3>
    </a>
  </div>

  <div class="room room-form">
    <div class="room__inner">
      <form class="room-create__form" #createRoomForm="ngForm" (submit)="createRoom(createRoomForm)" *ngIf="(user$ | async).statusId > 0; else message">
        <input class="room-create__input hidden" type="text" name="userId" [ngModel]="(user$ | async)._id">
        <input class="room-create__input" type="text" name="name" ngModel placeholder="New room" required>
        <button class="room-create__submit" [disabled]="createRoomForm.invalid"> Save</button>
      </form>
      <ng-template #message>
        <h3 class="room__title">Confirm your email to create room</h3>
      </ng-template>
    </div>
  </div>
</div>
