@import "../../_utils/index";

.rooms {
  display: flex;
  flex-wrap: wrap;
}

.room {
  width: calc(100% / 4);
  height: 10rem;
  padding: 1rem;
}

.room-form .room__inner {
  cursor: default;
}

.room__inner {
  padding: 0.875rem;
  height: 100%;
  margin: 0 auto;
  border-radius: 1rem;
  background: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.room__title {
  color: $darkGrey;
  font-weight: 400;
}

.room-create__input {
  @include textInput();
  border: 1px solid $lightGrey;
}

.room-create__input.hidden {
  display: none;
}

.room-create__submit {
  @include button();
  margin-top: 0.625rem;
}

.room-create__form {
  width: 80%;
  height: 100%;
}


@media (max-width: 1280px) {
  .room {
    width: calc(100% / 3);
  }
}
