@import "../../../../../_utils/index";

.room-actions {
  margin-top: 1rem;
}

.delete-room {
  @include button();
  background: $pink;
}

.room-form {
  margin-top: 2rem;
  display: flex;
  align-items: center;
}

.room-input {
  @include textInput();
}

.room-submit {
  @include button();
  margin-left: rem(16px);
}
