<div class="options">
  <div class="checkboxes">
    <div class="checkbox-item" *ngFor="let item of (options$ | async)" (click)="onCheckboxClick(item)">
      <div class="checkbox">
        <i class="fal fa-check" *ngIf="item.isChecked"></i>
      </div>
      <div class="checkbox-label" [class.checked]="item.isChecked"> {{item.label}}</div>
    </div>
  </div>

  <div class="delete-area" (click)="onRefreshClick()">
    <p class="delete-area__help"> Click below this line or press Escape button to refresh text area </p>
  </div>
</div>
