@import "../../_utils/index";

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: 500px;
  padding: 3.125rem;
  background: $green;
  border-radius: $borderRadius;
}

.form__row {
  margin-bottom: 0.625rem;
}

.form__input--text {
  @include textInput();
}

.form__buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.form__button {
  @include button();
  border: 1px solid $textColor;
}

